<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>工业设计史</title>
<script type="text/javascript" src="public/main.pad.js"></script>
<link rel="stylesheet" type="text/css" href="public/main.pad.css" />
</head>

<body>
<header class="article-header">
<h1 class="article-title" th:utext="${title}">这里是文章标题</h1>
<ul class="article-tags">
<li class="date" th:utext="${year}"  th:if="${not #strings.isEmpty(year)}">年份</li>
<li class="genre"  th:utext="${genre}"  th:if="${not #strings.isEmpty(genre)}">流派</li>
<li class="location" th:utext="${city}"  th:if="${not #strings.isEmpty(city)}" >地点</li>
<li class="people" th:utext="${artists}" th:if="${not #strings.isEmpty(artists)}">人物名</li>
<li class="orgnization" th:utext="${organizations}" th:if="${not #strings.isEmpty(organizations)}">组织</li>
</ul>
</header>

<div class="article-content" th:utext="${content}">
 正文的HTML
</div>
</body>
</html>
